<%= render :partial => "favorites" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <%= search_form_for @q, class: 'form-inline', url: favorites_index_path do |f| %>
        <%= f.search_field :title_cont, class: 'form-control', placeholder:'お気に入りした書籍を検索', size: 30 %>
        <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <% @favorite_books.each do |book| %>
    <div class="row book">
      <div class="col-md-4 image">
        <img src="<%= book[:image_url] %>" class="img-responsive" alt="">
      </div>
      <div class="col-md-5">
        <div class="text">
          <div><h3><%= book.title %></h3></div>
          <div><%= book.isbn %></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text">
          <%= link_to "削除", "/favorites/#{book.id}/destroy", method: "post", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>