<%= render :partial => "favorites" %>

<P>登録書籍検索</P>

<%= search_form_for @q, url: favorites_index_path do |f| %>
    <%= f.label :title, "書籍タイトル" %>
    <%= f.search_field :title_cont %>
    
    <%= f.submit "検索" %>
<% end %>

<p>登録書籍一覧</p>
<% unless @favo_books.present? %>
  <% @favorite_books.each do |book| %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-3"><img src="<%= book[:image_url] %>" class="img-responsive" alt="">
      </div>
    </div>
    <%= book.title %>
    <%= link_to("削除", "/favorites/#{book.id}/destroy", {method: "post"}) %>
  <% end %>
<% else %>
  <% @favo_books.each do |favo_book|%>
  　<div class="container-fluid">
      <div class="row">
        <div class="col-xs-3"><img src="<%= favo_book[:image_url] %>" class="img-responsive" alt="">
      </div>
    </div>
    <%= favo_book.title %>
    <%= link_to("削除", "/favorites/#{favo_book.id}/destroy", {method: "post"}) %>
  <% end %>
<% end %>