<%= render :partial => "book_shelf" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <%= form_tag(book_shelfs_search_path, method: :get, class: 'form-inline') do %>
        <%= text_field_tag :title, @title, class: 'form-control', placeholder:'書籍タイトル', size: 40 %>
        <%= submit_tag '商品を検索', class: 'btn'%>
      <% end %>
    </div>
  </div>
  
  <!--検索結果の表示-->
  
  <% @books.each do |book| %>
  
      <div class="row">
        <div class="col-md-6"><img src="<%= book[:image_url] %>" class="img-responsive" alt=""></div>
      </div>

    <p><%= book[:title] %></p>
    <% if @purchased_books.blank? %>
      <%= form_tag(book_shelfs_path, method: :post) do %>
        <%= hidden_field_tag :isbn, book[:isbn] %>
        <%= submit_tag '購入済み書籍に追加' %>
      <% end %>
    <% else %>
      <% @purchased_books.each do |pur_book| %>
        <% if book[:isbn] == pur_book.isbn %>
          <P>購入済み書籍に追加済み</P>
        <% else %>
          <%= form_tag(book_shelfs_path, method: :post) do %>
            <%= hidden_field_tag :isbn, book[:isbn] %>
            <%= submit_tag '購入済み書籍に追加' %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
