<div class="bs-component">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <%= search_form_for @q, class: 'form-inline my-2 my-lg-0', url: book_shelfs_top_path do |f| %>
        <%= f.search_field :title_cont, class: 'form-control mr-sm-2', placeholder:'所有している書籍を検索', size: 30 %>
        <%= f.submit "検索", class: "btn btn-secondary my-2 my-sm-0" %>
      <% end %>
    </div>
  </nav>
</div>
<div class="container-fluid">
  <% @purchased_books.each do |book| %>
    <div class="row book">
      <div class="col-md-3 image">
        <img src="<%= book[:image_url] %>" class="img-fluid" alt="">
      </div>
      <div class="col-md-6">
        <div class="text">
          <div><h4><%= book[:title] %></h4></div>
          <div><%= "出版社: #{book[:publisherName]}" %></div>
          <div><%= "著者: #{book[:author]}" %></div>
          <div><%= "ISBN: #{book[:isbn]}" %></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text">
          <% if Reed.find_by(user_id: current_user.id, book_id: book.id)%>
            <%= link_to("未読にする", "/purchaseds/#{book.id}/default", method: "post", class: "btn btn-success") %>
          <% else %>
            <%= link_to("既読にする", "/purchaseds/#{book.id}/state", method: "post", class: "btn") %>
          <% end %>
          <%= link_to("削除", "/purchaseds/#{book.id}/destroy", method: "post", class: "btn btn-primary") %>
        </div>
      </div>
    </div>
  <% end %>
</div>