<!DOCTYPE html>
<html>
  <head>
    <title>BookWindow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://kit.fontawesome.com/d15b5c6f7c.js"></script>
    
  </head>

  <body>
    
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    
    <header>
      <div class="bs-component">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <%= link_to 'ホーム', pages_index_path, class: "navbar-brand" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <% unless logged_in?%>
                <li class="nav-item">
                  <%= link_to 'ログイン', login_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'サインアップ', new_user_path, class: "nav-link" %>
                </li>
              <% end %>
              <% if logged_in?%>
                <li class="nav-item">
                  <%= link_to 'ログアウト', logout_path, method: :delete, class: "nav-link" %>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    お気に入り
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to 'セール中の書籍', favorites_top_path, class: "dropdown-item" %>
                    <%= link_to '登録書籍一覧', favorites_index_path, class: "dropdown-item" %>
                    <%= link_to '書籍を探す', favorites_search_path, class: "dropdown-item" %>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    所有している書籍
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to '所有している書籍', book_shelfs_top_path, class: "dropdown-item" %>
                    <%= link_to '書籍を探す', book_shelfs_search_path, class: "dropdown-item" %>
                  </div>
                </li>
                <!--<li class="nav-item">-->
                <!--  <%= link_to '問い合わせ', questions_top_path, class: "nav-link" %>-->
                <!--</li>-->
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    
    <%= yield %>
    
    <script>
      $(function(){
        $(".alert").fadeOut(3000);
      });
    </script>
    
  </body>
</html>
